<nav ng-show="showMatrix">
    <div class="list-group clear">
        <a href="#" class="list-group-item-primary list-group-item col-md-3">Dashboard</a>
    </div>
    <div class="list-group clear">
        <a href="#" class="list-group-item-primary list-group-item col-md-3">Project</a>
        <a href="#" class="list-group-item-primary list-group-item col-md-3">Collaborate</a>
        <a href="#" class="list-group-item-primary list-group-item col-md-3">Describe</a>
        <a href="#" class="list-group-item-primary list-group-item col-md-3">Add Material</a>
    </div>
    <div class="list-group clear">
        <a href="#" class="list-group-item-primary list-group-item col-md-3">Materials</a>
        <a href="#" class="list-group-item-primary list-group-item col-md-3">Annotate</a>
    </div>
    <div class="list-group clear">
        <a href="#" class="list-group-item-primary list-group-item col-md-3">Draft</a>
        <a href="#" class="list-group-item-primary list-group-item col-md-3">Annotate</a>
        <a href="#" class="list-group-item-primary list-group-item col-md-3">Visualizations</a>
    </div>
    <div class="list-group clear">
        <a href="#" class="list-group-item-primary list-group-item col-md-3">Publish</a>
        <a href="#" class="list-group-item-primary list-group-item col-md-3">Create</a>
        <a href="#" class="list-group-item-primary list-group-item col-md-3">Quick Views</a>
    </div>
</nav>