<div>
    <div class="modal-header">
        <h1><i class="fa fa-bomb"></i> Destroying {{outline.title}}</h1>
    </div>
    <div class="modal-body text-center">
        <p class="lead text-danger">
            Deleting this outline is permanent and no user will be able to access it anymore.
        </p>
        <button class="btn btn-lg btn-primary" ng-click='modal.close()'>Cancel</button>
    </div>
    <div class="modal-footer">
        <p ng-show="display[('del_outline_err'+outline.id)]" class="text-danger">
            {{display[('del_outline_err'+outline.id)]}}
        </p>
        <button class="btn btn-danger" ng-click="informedDelete(outline.id)">I understand, delete it</button>
    </div>
</div>
